<!DOCTYPE html>
<html ng-app="../../myApp" ng-controller="forgotController">

<head>
    <title>Forgot Password</title>
</head>

<body>
    <!--Login-->
    <div id="forgot" class="part">
        <form name="forgotForm" id="forgotForm" ng-submit="getPsw()">
            <div class="container">
                <b>
                    <h1>Forgot Your Password?</h1>
                </b>
                <hr>
                <label>
                    <b>Username</b>
                </label>
                <br>
                <input type="text" placeholder="Username" ng-model="username">
                <br>
                <input type="button" ng-click="getQuestions()" value="Get Questions" />
                <br>
                <br>
                <hr>
                <div id="questions" ng-show="questionsOk">
                    <label>
                        <b>First Question</b>
                    </label>
                    <br>
                    <h4 name="q1" type="text" ng-model="q1">{{q1}}</h4>
                    <input name="ans1" placeholder="Your Answer" type="text" ng-model="ans1" required>
                    <br>
                    <label>
                        <b>Second Question</b>
                    </label>
                    <br>
                    <h4 name="q2" type="text" ng-model="q2">{{q2}}</h4>
                    <input name="ans2" placeholder="Your Answer" type="text" ng-model="ans2" required>
                    <div>
                        <input ng-disabled="forgotForm.$invalid" type="submit" value="Get Password"><br>
                        <hr>
                        <label>
                            <b>Your password is:</b>
                        </label><br>
                        <input type="text" ng-model="psw" ng-value="psw">
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>

</html>