<!DOCTYPE html>
<html ng-app="../../myApp">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Home</title>
</head>

<body>
    <div class="container">
        <div id="home" class="part">
            <form name="homeForm" id="homeForm" ng-submit="login()">
                <div class="container">
                    <b>
                        <h1 style="text-align: ce">Want to start your travel...?</h1>
                    </b>
                    <hr>
                    <div ng-show="!loggedIn">
                        <label>
                            <b style="text-align: right">Already have a User? Please Login :) </b>
                        </label>
                        <button class="btn btn-primary" ng-click="redirect('login')"> Login </button>
                    </div>
                    <br>
                    <div ng-show="!loggedIn">
                        <label>
                            <b style="text-align: right">Don't have a User yet? Let's create one!</b>
                        </label>
                        <button class="btn btn-primary" ng-click="redirect('register')"> Register </button>
                    </div>
                    <br>
                    <div ng-show="loggedIn">
                        <label>
                            <b>View Your Favorite Spots in Town!</b>
                        </label>
                        <input type="button" value="Favorites" ng-click="redirect('favorites')">
                    </div>
                    <br>
                    <div ng-show="loggedIn">
                        <label>
                            <b>Want to see all the amazing spots in town?</b>
                        </label>
                        <button class="btn btn-primary" type="button" value="POIs" ng-click="redirect('poi')">
                    </div>
                    <br>
                </div>
            </form>
        </div>
        <hr>
        <div id=explore ng-init="getExplore()">
            <h1>Popular Point of Interest</h1>
            <hr>
            <div id="details" ng-show="infoVisible">
                <p><b>Point Name:</b>
                    {{currFullPoi.PointName}}</p>
                <p><b>Point Category:</b>
                    {{currFullPoi.PointCategory}}</p>
                <p><b>Point Rating:</b>
                    {{currFullPoi.PointRating /5 * 100}} %</p>
                <p><b>Point Description:</b>
                    <br>{{currFullPoi.Description}}</p>
                <p><b>Point AmountOfViewers:</b>
                    {{currFullPoi.Viewers}}</p>
                <p><b>Point Reviews:</b>
                    <div ng-repeat="Review in currFullPoi.Reviews">
                        <p><i>Comment:</i> {{Review.Review}}</p>
                        <p><i>Time:</i> {{Review.Time}}</p>
                        <hr>
                    </div>
                    <!-- <br> {{currFullPoi.Reviews}}</p> -->
                    <modal ng-show="loggedIn" id="addReview">
                        <div id="container">
                            <button class="btn btn-primary" ng-click="$root.show_me =!$root.show_me"></button> Add Review</button>
                            <br>
                            <select type="number" value ng-show="show_me" id="rank" ng-options="y for y in ranks"
                                ng-model="rank" required></select>
                            <br>
                            <textarea id="TextReview" ng-show="show_me" placeholder="Insert Review"
                                ng-model="TextReview" required></textarea>
                            <br>
                            <button class="btn btn-primary" ng-show="show_me" ng-click="addReview()">Save</button>
                        </div>
                    </modal>
            </div>
            <div ng-repeat="poi in explorePoints" ng-click="showDetails(poi)">
                <p>{{poi.PointName}}</p>
                <div>
                    <input ng-show="loggedIn" ng-style="getStyle(poi)" ng-click="changeFav(poi)" type="button" />
                </div>
                <img ng-src="{{poi.ImageObj}}" class="img-responsive" />
            </div>
        </div>
    </div>
</body>

</html>